<h1>New Journey</h1>

<form class="" action="/journeys" method="post">
  <label for="topic">Topic</label>
  <%# <input type="text" id="topic" name="topic" value="">%>

  <select class="" name="topic">
    <option value="Arts">Arts</option>
    <option value="Business">Business</option>
    <option value="Comedy">Comedy</option>
    <option value="Education">Education</option>
    <option value="Games&amp;Hobbies">Games &amp; Hobbies</option>
    <option value="Government&amp;Organisations">Government &amp; Organisations</option>
    <option value="Health">Health</option>
    <option value="Kids&amp;Family">Kids &amp; Family</option>
    <option value="Music">Music</option>
    <option value="News&amp;Politics">News &amp; Politics</option>
    <option value="Religion&amp;Spirituality">Religion &amp; Spirituality</option>
    <option value="Science&amp;Medicine">Science &amp; Medicine</option>
    <option value="Society&amp;Culture">Society &amp; Culture</option>
    <option value="Sports&amp;Hobbies">Sports &amp; Hobbies</option>
    <option value="Technology">Technology</option>
    <option value="TV&amp;Film">TV &amp; Film</option>
  </select>

  <%# <label for="email">Email</label>
  <input type="text" id="email" name="email" value="">

  <label for="password">Password</label>
  <input type="password" id="password" name="password" value="">

  <label for="passwordConfirmation">Confirm Password</label>
  <input type="text" id="passwordConfirmation" name="passwordConfirmation" value="">

  <label for="image">Profile picture, enter img URL here</label>
  <input type="text" id="image" name="image" value="">%>

  <input type="submit" name="" value="Search Podcasts">
</form>

<%# <button id="podcastSearch" type="button" name="button">Search Podcasts</button>%>
