<h1>New Journey</h1>

<% if (locals.isLoggedIn) { %>
  <h3>Use a saved route</h3>
  <form id="savedJourneys" class="" action="/search" method="post">
  <label for="journey">Journey<label>
  <select id="journeySelector" class="" name="journey">
    <option value="" disabled selected>Choose a journey</option>
    <% user.journeys.forEach(journey => { %>
      <option value="<%= journey._id %>"><%= journey.name %></option>
    <% }); %>
  </select>



  <input class="searchPods" type="submit" name="" value="Search Podcasts" disabled>
  </form>
<% } %>

<h3>Pod a journey</h3>
<form id="podcastForm" class="" action="/search" method="post">
  <span id="testSpan"></span>
  <%# <input type="text" id="topic" name="topic" value="">%>

  <label for="origin">Start Point</label>
  <input class="searchField" type="text" id="origin" name="origin" value="">

  <label for="destination">Destination</label>
  <input class="searchField" type="text" id="destination" name="destination" value="">

  <label for="topic">Topic</label>
  <select id="topicSelector" class="" name="topic">
    <option value="" disabled selected>Choose a topic</option>
  </select>
  <select id="subtopicSelector" class="" name="topic">
    <option value="" disabled selected>Choose a subtopic</option>
  </select>

  <%# <label for="email">Email</label>
  <input type="text" id="email" name="email" value="">

  <label for="password">Password</label>
  <input type="password" id="password" name="password" value="">

  <label for="passwordConfirmation">Confirm Password</label>
  <input type="text" id="passwordConfirmation" name="passwordConfirmation" value="">

  <label for="image">Profile picture, enter img URL here</label>
  <input type="text" id="image" name="image" value="">%>

  <input class="searchPods" type="submit" name="" value="Search Podcasts" disabled>
</form>
<form id="journeySave" class="" action="/journeys" method="post">

  <label for="name">Journey Name</label>
  <input type="text" name="name" value="">

  <input id="shadowOrigin" type="hidden" name="origin" value="">
  <input id="shadowDestination" type="hidden" name="destination" value="">

  <input type="submit" name="" value="Save Journey">
</form>

<%# <button id="podcastSearch" type="button" name="button">Search Podcasts</button>%>
