<h1>Podcast results</h1>

<p><%= closest %></p>

<ul>
  <% closest.forEach(result => { %>
    <li><h2><%= result.podcast %></h2></li>
    <li><h3><%= result.title %></h3></li>
    <li>
      <audio controls>
        <source src="<%= result.link %>" type="audio/mpeg">
      </audio>
    </li>

  <% }); %>
</ul>
