<h1>Podcast results</h1>


<ul>
  <% closest.forEach(result => { %>
    <li><h3><%= result.podcast.podcast %></h3></li>
    <li><h4><%= result.podcast.title %></h4></li>
    <li>
      <audio controls>
        <source src="<%= result.podcast.link %>" type="audio/mpeg">
      </audio>
    </li>

  <% }); %>
</ul>
