<h1>Update User Details</h1>

<form class="" action="/users/<%= user._id %>" method="post">
  <input type="hidden" name="_method" value="PUT">

  <label for="name">Name</label>
  <input type="text" id="name" name="name" value="<%= user.name %>">

  <label for="email">Email</label>
  <input type="text" id="email" name="email" value="<%= user.email %>">

  <label for="password">New Password</label>
  <input type="password" id="password" name="password" value="">

  <%# <label for="passwordConfirm">Confirm New Password</label>
  <input type="password" id="passwordConfirm" name="passwordConfirm" value="">%>

  <label for="image">Profile picture, enter img URL here</label>
  <input type="text" id="image" name="image" value="<%= user.image %>">

  <input type="submit" name="" value="Update">
</form>
