<h1>Register</h1>

<form class="" action="/register" method="post">
  <div class="input-field">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="">
  </div>
  <div class="input-field">
    <label for="email">Email</label>
    <input type="text" id="email" name="email" value="">
  </div>
  <div class="input-field">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" value="">
  </div>
  <div class="input-field">
    <label for="passwordConfirmation">Confirm Password</label>
    <input type="password" id="passwordConfirmation" name="passwordConfirmation" value="">
  </div>
  <div class="input-field">
    <label for="image">Profile picture, enter img URL here</label>
    <input type="text" id="image" name="image" value="">
  </div>
  <div class="input-field">
    <input class="waves-effect btn" type="submit" name="" value="Register">
  </div>
</form>
