body {
  font-family: sans-serif;
  background: #f1f1f1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header {
  background: #ff0000;
}

ul {
  list-style: none;
}

audio {
  max-width: 200px;
}

.podResults {
  margin-bottom: 50px;
}

.podcast {
  background-position: center;
  background-size: auto;
  height: 200px;
  max-width: 200px;
}

.podcast {
   width: 200px;
   height: 200px;
   position: relative;
}
.overlay {
   float: left;
   position: absolute;
   left: 0px;
   height: 200px;
   p {
     top: 0px;
   }
   audio {
     bottom: 0px;
   }
   z-index: 1000;
   font-weight: bold;
   color: #f5f5f5;
}
