body {
  font-family: sans-serif;
  background: #f1f1f1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header {
  img {
    margin-top: 15px;
    height: 30px;
    width: 30px;
    border-radius: 20px;

  }
  overflow: hidden;
  // p {
  //   top: 0px;
  //   right: 10px;
  //   position: absolute;
  // }
}

ul {
  list-style: none;
}

.homepageImg {
  margin: 0 auto;
  text-align: center;
}

img {
  border-radius: 10px;
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 10px;
  @media only screen and (max-width: 960px) {
  max-width: 150px;
  max-height: 150px;
  }
  @media only screen and (max-width: 640px) {
  max-width: 100px;
  max-height: 100px;
  }
  @media only screen and (max-width: 320px) {
  max-width: 50px;
  max-height: 50px;
  }
}

.alert {
  display: none;
}

.userImage {
  text-align: center;
}

.podcast {
  margin-top: 15px;
  img {
    margin-bottom: 50px;
  }
}

.podTitle {
  font-weight: 600;
  @media only screen and (max-width: 960px) {

  }
  @media only screen and (max-width: 640px) {
  font-size: 20px;
  }
  @media only screen and (max-width: 320px) {
    font-size: 15px;
  }
}

.podEpisodes {
  margin: 0 auto;
  text-align: center;
  z-index: 1000;
  overflow: visible;
  margin: 20px;
}

.episodes {
  // overflow: visible;
  // margin: 20px;
}

audio {

  @media only screen and (max-width: 960px) {
  max-width: 200px;
  max-height: 200px;
  }
  @media only screen and (max-width: 640px) {
  max-width: 200px;
  max-height: 200px;
  }
  @media only screen and (max-width: 320px) {
  max-width: 200px;
  max-height: 200px;
  }
}


// .journeyDiv {
//   text-align:center;
//   background: white;
//   border-radius: 10px;
//   float: left;
// }
//
// .journeyDetails {
//   padding: 10px;
// }
//
.journeyName {
  font-weight: 600;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
